@font-face {
	font-family: 'Abigaila';
	src: url('./fonts/abigaila.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Blockbustter';
	src: url('./fonts/blockbustter.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ander';
	src: url('./fonts/ander.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Boulevard';
	src: url('./fonts/boulevard.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Heylla Ganisto';
	src: url('./fonts/heylla-ganisto.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Journey Mistake';
	src: url('./fonts/journey-mistake.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Khingston';
	src: url('./fonts/khingston.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Margheritte';
	src: url('./fonts/margheritte.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ponpewd';
	src: url('./fonts/ponpewd.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'The Reason';
	src: url('./fonts/the-reason.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
